Resume Generator.json
{
  "name": "Resume Generator",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1S5i0OIJxXrMBAziWqiSiy3lyAwgzh_aKlydnrciwUuQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1098856778,
          "mode": "list",
          "cachedResultName": "Processed Jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S5i0OIJxXrMBAziWqiSiy3lyAwgzh_aKlydnrciwUuQ/edit#gid=1098856778"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date Processed ": "={{ DateTime.now().toFormat('yyyy-MM-dd') }}",
            "Title": "={{ $('Get First Job').first().json.Title }}",
            "Company": "={{ $('Get First Job').first().json.Company }}",
            "URL": "={{ $('Get First Job').first().json.URL }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date Processed ",
              "displayName": "Date Processed ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1936,
        144
      ],
      "id": "9fe8e7db-2133-4969-b74e-a0fc8278197c",
      "name": "Add to Processed Jobs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lfejI7lxOGlP5VNs",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        288,
        704
      ],
      "id": "20f65040-3e86-437a-8b77-8a45feb9f546",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1S5i0OIJxXrMBAziWqiSiy3lyAwgzh_aKlydnrciwUuQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Relevant Roles",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:E2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        528,
        704
      ],
      "id": "4896f53a-1765-4624-ba3e-264af46c156a",
      "name": "Get First Job",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lfejI7lxOGlP5VNs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-job",
              "leftValue": "={{ $json.Title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        704
      ],
      "id": "59961772-707d-456d-95f9-0519def43e79",
      "name": "Has Job?"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1nkYGAspSoYA3lb3lStGdYVkKd7CRFt53OewhOuazADc/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1008,
        496
      ],
      "id": "b4d54ce0-51a2-4859-b691-43f56f944bf9",
      "name": "Get Master Resume",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "4t6o310Roen45BxB",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1KMaK8-Wqud1INyw_VHs3XS0TdO4kX-sX5q8_ZUPKvy8/edit?usp=sharing"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1008,
        704
      ],
      "id": "cd870274-a3a5-4cfc-a433-02e7215cf25a",
      "name": "Get Prompt Instructions",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "4t6o310Roen45BxB",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1pSd0QVcsNy1bfZTe6mvb13YIzpEnOo4E_fpPk7H9SuU",
          "mode": "id"
        },
        "name": "=Jeppe Christensen Resume - {{ $('Get First Job').item.json.Company }} - {{ $('Get First Job').item.json.Title }} - {{ DateTime.now().toFormat('yyyy-MM-dd') }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1dwuaby-TFvpd_8PrEJ_1WNAvM8wz1tA5",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1008,
        928
      ],
      "id": "365e6e28-effd-4fc6-a975-5c8b7954fa4b",
      "name": "Copy Resume Template",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fYtz9pa1wjW7cJ4v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get data from each source node using .first() to get just one item\nconst job = $('Get First Job').first().json;\nconst masterResumeDoc = $('Get Master Resume').first().json;\nconst promptInstructionsDoc = $('Get Prompt Instructions').first().json;\nconst copiedDoc = $('Copy Resume Template').first().json;\n\n// Google Docs native node returns 'content' field with plain text\nconst masterResume = masterResumeDoc.content || '';\nconst promptInstructions = promptInstructionsDoc.content || '';\n\nreturn [{\n  json: {\n    job: {\n      title: job.Title || '',\n      company: job.Company || '',\n      description: job.Description || '',\n      url: job.URL || '',\n      dateAdded: job['Date Added'] || ''\n    },\n    masterResume,\n    promptInstructions,\n    copiedDocId: copiedDoc.id,\n    copiedDocName: copiedDoc.name\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        928
      ],
      "id": "78f3a0e0-1e64-4cae-b4ef-f3883adc408e",
      "name": "Prepare Claude Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## JOB DESCRIPTION\nTitle: {{ $json.job.title }}\nCompany: {{ $json.job.company }}\n\n{{ $json.job.description }}\n\n---\n\n## MASTER RESUME\n{{ $json.masterResume }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptInstructions }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1728,
        704
      ],
      "id": "3c6a63fb-75da-4ae9-aed4-1f85759b8158",
      "name": "Generate Resume Content"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1808,
        944
      ],
      "id": "68961219-359a-4597-b2c3-acf2514c344a",
      "name": "Claude Sonnet",
      "credentials": {
        "anthropicApi": {
          "id": "1dEHV2ZcyiXT2OLc",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's JSON response and prepare for Google Docs replacement\nconst input = $('Prepare Claude Input').item.json;\nconst claudeResponse = $json.text || $json.response || '';\n\n// Extract JSON from Claude's response\nlet content;\ntry {\n  // Try to parse directly\n  content = JSON.parse(claudeResponse);\n} catch (e) {\n  // Try to extract JSON from markdown code block\n  const jsonMatch = claudeResponse.match(/```json\\n?([\\s\\S]*?)\\n?```/) || \n                    claudeResponse.match(/```\\n?([\\s\\S]*?)\\n?```/) ||\n                    claudeResponse.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    content = JSON.parse(jsonMatch[1] || jsonMatch[0]);\n  } else {\n    throw new Error('Could not parse JSON from Claude response');\n  }\n}\n\n// Build the replacement requests for Google Docs API\nconst replacements = [];\nconst placeholders = [\n  'TAGLINE_1', 'TAGLINE_2', 'TAGLINE_3', 'ABOUT_ME',\n  'SHOPIFY_BULLET_1', 'SHOPIFY_BULLET_2',\n  'NEO4J_BULLET_1', 'NEO4J_BULLET_2', 'NEO4J_BULLET_3', 'NEO4J_BULLET_4', 'NEO4J_BULLET_5',\n  'FIVETRAN_BULLET_1', 'FIVETRAN_BULLET_2', 'FIVETRAN_BULLET_3', 'FIVETRAN_BULLET_4', 'FIVETRAN_BULLET_5',\n  'DENTSU_BULLET_1', 'DENTSU_BULLET_2', 'DENTSU_BULLET_3',\n  'TEXT100_BULLET_1', 'TEXT100_BULLET_2', 'TEXT100_BULLET_3',\n  'REPUBLIC_BULLET_1', 'REPUBLIC_BULLET_2',\n  'COMPETENCY_1', 'COMPETENCY_2', 'COMPETENCY_3', 'COMPETENCY_4', 'COMPETENCY_5',\n  'COMPETENCY_6', 'COMPETENCY_7', 'COMPETENCY_8', 'COMPETENCY_9', 'COMPETENCY_10'\n];\n\nfor (const key of placeholders) {\n  if (content[key]) {\n    replacements.push({\n      replaceAllText: {\n        containsText: {\n          text: '{{' + key + '}}',\n          matchCase: true\n        },\n        replaceText: content[key]\n      }\n    });\n  }\n}\n\nreturn [{\n  json: {\n    documentId: input.copiedDocId,\n    documentName: input.copiedDocName,\n    documentUrl: `https://docs.google.com/document/d/${input.copiedDocId}/edit`,\n    job: input.job,\n    generatedContent: content,\n    requests: replacements\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        704
      ],
      "id": "6e32a83a-8a59-4493-8139-797e1f2748f8",
      "name": "Parse Claude Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.documentId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ requests: $json.requests }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        704
      ],
      "id": "8e20d8e6-5cba-4aba-97ef-ed4657744e22",
      "name": "Update Doc (Replace Placeholders)",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "4t6o310Roen45BxB",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1S5i0OIJxXrMBAziWqiSiy3lyAwgzh_aKlydnrciwUuQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Relevant Roles",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2448,
        704
      ],
      "id": "a084e0ea-d6d0-4943-8c0e-e3399818c793",
      "name": "Delete from Relevant",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lfejI7lxOGlP5VNs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        768,
        928
      ],
      "id": "aec794a5-3421-489d-a52b-0163acbf04dd",
      "name": "No Jobs - End"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1S5i0OIJxXrMBAziWqiSiy3lyAwgzh_aKlydnrciwUuQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1098856778,
          "mode": "list",
          "cachedResultName": "Processed Jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S5i0OIJxXrMBAziWqiSiy3lyAwgzh_aKlydnrciwUuQ/edit#gid=1098856778"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date Processed ": "={{ DateTime.now().toFormat('yyyy-MM-dd') }}",
            "Title": "={{ $('Get First Job').first().json.Title }}",
            "Company": "={{ $('Get First Job').first().json.Company }}",
            "URL": "={{ $('Get First Job').first().json.URL }}",
            "Resume URL": "=https://docs.google.com/document/d/{{ $('Prepare Claude Input').first().json.copiedDocId }}/edit"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date Processed ",
              "displayName": "Date Processed ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume URL",
              "displayName": "Resume URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2688,
        704
      ],
      "id": "e0a8fa9a-361f-4859-8515-75b924b5fdf5",
      "name": "Add to Processed Jobs1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lfejI7lxOGlP5VNs",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get First Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get First Job": {
      "main": [
        [
          {
            "node": "Has Job?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Job?": {
      "main": [
        [
          {
            "node": "Get Master Resume",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Jobs - End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Master Resume": {
      "main": [
        [
          {
            "node": "Get Prompt Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prompt Instructions": {
      "main": [
        [
          {
            "node": "Copy Resume Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Resume Template": {
      "main": [
        [
          {
            "node": "Prepare Claude Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Claude Input": {
      "main": [
        [
          {
            "node": "Generate Resume Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Resume Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Resume Content": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Update Doc (Replace Placeholders)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Doc (Replace Placeholders)": {
      "main": [
        [
          {
            "node": "Delete from Relevant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete from Relevant": {
      "main": [
        [
          {
            "node": "Add to Processed Jobs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "132c4683-6683-4b96-8e8e-7607785cfdbd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ecc95ab4f625c8c725babf7141f5b1a896826030e71edeeca401eba5a79da7d5"
  },
  "id": "6Pw48lJbgwLZcF6D",
  "tags": []
}
